
body {
    background-color: aquamarine;
    
    }
    
    .h2 {
    text-align: center;
    background-color: white;
    color :teal
    }

    h2{ color: teal;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    border: solid;
    border-color: white;


    
    } 
div{
    display: inline-block;
    text-align: center; 
    vertical-align:top;
    border-width: 150px;  
    border-radius: 20px;
    background-color: white;
    width: 150px;
    height: 150px;  
}
  img {
        border: solid;
        border-color: white;
        padding: 5px;
        width: 150px;
        height: 150;
      
      }
